QFrame#searchFrame {
    background: #fff;
    border-radius: 6px;
}

QWidget#pointsBox {
    background: #f8f8f8;
    border-radius: 6px;
}

QLabel#pointsNum {
    font-size: 22px;
    font-weight: bold;
}
QWidget#statisBox,QWidget#opearBox{
    border-bottom: 1px solid #eee;
}
.sfvLabel:hover,.opearBtn:hover{
    color: #1ecc94;
}
.opearBtn {
    background: transparent;
}