* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei', 'iconfont';
}
QWidget#conbox{
    background: #fff;
}
QLabel#blodTit{
    font-weight: bold;
    font-size: 20px;
}
QLabel#bot{
    background: #ccc;
    border-radius: 4px;
}
QLabel#singerName {
    font-size: 16px;
    color: #333;
}