* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei', 'iconfont';
}
QWidget#conbox{
    background: #fff;
}
QLabel#blodTit{
    font-weight: bold;
    font-size: 20px;
}
.bot{
    background: #ccc;
    border-radius: 4px;
}

QLabel#playBox{
    color: #fff;
    font-size: 32px;
}
QLabel#singerName {
    font-size: 16px;
    color: #333;
}
.active{
    color: #10da67;
}
.bot_active{
    background: #10da67;
    border-radius: 4px;
}