QLabel#recomImgBox,QLabel#treaImgBox {
    border-radius: 6px;
    background: #eee;
}

QWidget#maskBox {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.589);
}

QLabel#recomTit {
    color: #4e4e4e;
}

QLabel#recomTit:hover {
    color: #10da67;
}

QLabel#title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding-left: 30px;
}
QLabel#playCount{
    color: #fff;
    font-size: 13px;
}